body {
    height: 100vh; /* Set body height to viewport height */
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    background-color: rgb(80, 80, 80);
}

.container {
    background-color: grey;
    padding: 20px;
    border: 1px solid #007bff; /* Primary border color */
    border-radius: 10px; /* Optional: Add border radius */
}

.btn {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add box shadow */
}