.title{
    text-align: center;
    flex-wrap: wrap;
}


.background {
    
    display: grid;
    float: left;
    background-color: rgb(134, 108, 74);
    padding-left: 15px;
    padding-right: 115px;
    padding-top: 50px;
    padding-bottom: 540px;
    max-width: 410px;
    margin-left: 37.33%;
    border-radius: 4px;
    border-color: rgb(69, 57, 41);
    border-width: 4px;
}


.top_buttons{
    background-color: rgb(111, 90, 51);
    display: flex;
    float: left;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
}

.options_button{
    vertical-align: top;
    margin-right: 380px;
    text-decoration: none;
    border: none;
    background-color: rgb(11, 165, 255);
    border-radius: 40px;
}

.option-CSS{
    border: 2px;
    background-color: rgb(11, 165, 255);
    border-radius:  40px;
    border-width: 1px;
    padding: 10px;
}

.option-CSS:hover{
    border: 2px;
    background-color: rgb(11, 134, 206);
    border-radius:  40px;
    border-width: 1px;
    padding: 10px;
}

.power_button{
    vertical-align: top;
    margin-right: 10px;
    border-radius: 40px;
    background-color: crimson;
}

.power-CSS{
    border: 1px;
    background-color: crimson;
    border-radius:  40px;
    border-width: 1px;
    padding: 10px;
}

.power-CSS:hover{
    border: 1px;
    background-color: rgb(184, 16, 50);
    border-radius:  40px;
    border-width: 1px;
    padding: 10px;
}


.midway_buttons{
    background-color: rgb(111, 90, 51);
    vertical-align: bottom;
    display: flex;
    float: left;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;

}

.rewind_back_video{
    margin-left:  25px;
    margin-right: 20%;
}

.subtitles_button{
    margin-right: 20%;
}

.CC-CSS{
    background-color: yellow;
    border-radius: 14px;
}




.bottom_buttons{
    background-color: rgb(111, 90, 51);
    vertical-align: bottom;
    display: flex;
    float: left;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 10px;
}


.rewind_30seconds{
    margin-left: 25px;
    margin-right: 40px;
}


.pauseStart_button{
    margin-right: 40px;
    
}

.pauseStart_button-CSS{
    background-color: rgba(239, 223, 198, 1);
    border-radius: 25px;
    padding: 10px;
}

.pauseStart_button-CSS:hover{
    background-color: rgb(214, 200, 176);
    border-radius: 25px;
    padding: 10px;
}