.title{
    text-align: center;
    flex-wrap: wrap;
}


.background {
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(134, 108, 74);
    padding-top: 50px;
    padding-bottom: 140px;
    padding: 50px 15px 140px;
    max-width: 410px;
    margin: 0 auto;
    border-radius: 9px;
    border-color: rgb(69, 57, 41);
    border-width: 4px;
}

.button-row{
    background-color: rgb(111, 90, 51);
    display: flex;
    width: 100%;
    flex-flow: row;
    padding-bottom: 25px;
    padding-top: 10px;
}

.button-row div{
    margin: auto;
}

.btnSmall{
    width: 40px;
    height: 40px;
}

.btnDisabled{
    opacity: 30%;
    border-radius: 50%;
}

button{
    transition: 
        filter 0.3s,
        transform 0.4s;
    vertical-align: top;
    margin: auto;
    text-decoration: none;
    border: none;
    filter: brightness(0.9);
    border-radius: 40px;
    transform: scale(1);
}

button:hover{
    transition: 
        filter 0.1s,
        transform 0.2s;
    filter: brightness(1);
    transform: scale(1.05);
}

button:active{
    transition: 
        filter 0.1s,
        transform 0.2s;
    filter: brightness(1.1);
    transform: scale(1.15);
}

.option-CSS{
    padding: 0;
    margin: 0;
    background-color: rgb(11, 165, 255);
}
.power-CSS{
    padding: 0;
    margin: 0;
    background-color: crimson;
}

.skipBtn {
    width: 60px;
    height: 60px;
    border-radius: 0;
    background-color: rgba(95, 158, 160, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.skipVidBtn{
    width: 80px;
    height: 80px;
    background-image: url("./img/btnBG/vidBackBG.svg");
}

.skipVidBtn img{
    width: 45%;
    height: 45%;
    transform: translateX(20px);
}

.skipVidFlip{
    background-image: url("./img/btnBG/vidFrontBG.svg");
}
.skipVidFlip img{
    transform: translateX(-20px) scaleX(-1);
}

.skipForwardCSS{
    background-image: url("./img/skipForward.svg");
}
.skipBackCSS{
    background-image: url("./img/skipBack.svg");
}

.playBtn{
    width: 150px;
    height: 150px;
}

.volume-CSS{
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
}

.pauseStart_button-CSS{
    background-color: rgba(239, 223, 198, 1);
    border-radius: 25px;
    padding: 10px;
}